
html {
  font-size: 1rem;
  font-family: 'Quicksand', sans-serif;
}

body {
  padding:5rem 0;
  color:#000;
}

a {
  text-decoration: underline;
  color: #2bd4c1;
}

a:hover {
  text-decoration: none;
}

li {
  color: #2bd4c1;
}

main {
  display:grid;
  grid-template-columns: 2fr 1fr ;
  grid-template-rows: auto;
  grid-gap:2rem;
  margin: 0 auto;
  width: 60vw;
}

.block {
  grid-column:1 / 3;
  font-size:1.5rem;
}

h1, h2, h3 {
  margin-bottom:1rem;
}

h1 {
  font-size:3rem;
  margin-bottom: 0;
}