
html {
  font-size: 1rem;
  font-family: 'Jura', sans-serif;
}

body {
  padding:5rem 0;
  color:#000;
}

a {
  text-decoration: underline;
  color: #2bd4c1;
}

a:hover {
  text-decoration: none;
  color: #2bd4c1;
}

main {
  display:grid;
  grid-template-columns: 2fr 1fr ;
  grid-template-rows: auto;
  grid-gap:2rem;
  margin: 0 auto;
  width: 60vw;
}

.block {
  grid-column:1 / 3;
}


h1, h2, h3, h4, h5 {
  font-family: 'Quicksand', sans-serif;
  margin-bottom:1rem;
}

h1 {
  font-size:3.5rem;
  margin-bottom: 0;
}

h2 {
  font-size:2.5rem;
}

h3 {
  font-size:2rem;
}

p {
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
}

img {
  display: block;
  margin: 0 auto;
}